<!DOCTYPE HTML>
<html>

<head>
  <title>%TITLE%</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/css/style.css" type="text/css">
  <script type="text/javascript" src="../public/js/main.js"></script>
</head>

<body>
  <main>
    <header>
      <h2>Dashboard</h2>
    </header>
    <section>
      <a href="#" id="connections" class="button">Saved connections</a>
      <a href="/broadcast" id="connections" class="button">Do a broadcast</a>
    </section>
    <section id="modal-wrapper" class="hidden">
      <div class="modal">
        <header><span class="btn-close">X</span></header>
        <section></section>
        <footer><a href="#" class="button"></a></footer>
      </div>
      <div class="background"></div>
    </section>
  </main>
  <script type="text/javascript" src="../public/js/home.js"></script>
</body>

</html>